/*
    colors
*//**/
// White
$colorWhite: #ffffff;
$colorWhiteTrans: #ffffff05;
$colorWhiteSmoke: #f5f5f5;
$colorBrokenWhite: #f6f5f3;
// Grey
$colorLightGrey: #d3d3d3;
$colorSilver: #c0c0c0;
$colorGrey: #808080;
$colorDarkGrey: #404040;
// Black
$colorLightBlack: #303030;
$colorBlack: #191919;
$colorDarkBlack: #181818;
$colorBlackLightTrans: #18181890;
$colorBlackTrans: #18181820;
// Red
$colorLightRed: #ff0000;
$colorRed: #c30005;
$colorDarkRed: #880000;
$colorDarkRedLightTrans: #88000080;
$colorDarkRedTrans: #88000070;
$colorRedLightTrans: #b8000080;
$colorRedTrans: #b8000080;
// additional colors
$colorLightYellow: rgb(235, 193, 139);
$colorYellow: burlywood;
$colorBlue: lightskyblue;
$colorDarkBlue: rgb(121, 198, 247);
$colorLightGreen: rgb(161, 209, 66);
$colorGreen: yellowgreen;