/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        h1{
            font-size: 4rem;
        }
    }
    .socialNav{
        i{
            font-size: 2.3rem;
            margin-left: .2rem;
        }
    }
    .heroHeader{
        h1, p{
            text-align: center;
        }
        p{
            margin-left: 0;
        }
    }
    .heroContent{
        aside{
            a{
                font-size: 1.6rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
    .websitesHeader{
        h2{
            text-align: center;
        }
    }
    .contactContainer{
        p{
            text-align: center;
        }
    }
    .infoContainer{
            >a{
                font-size: 2.3rem;
            }
    }
    .hostingContainer{
        .hostingContent{
            .hostingRight{
                img{
                    width: 25rem;
                }
            }
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 768px) {
    .updateOpeningsuren{
        p{
            font-size: 2rem;
        }
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

@media only screen and (max-width: 992px) {
    #hero{
        .heroContent{
            display: flex;
            justify-content: end;
            align-items: start;
            flex-direction: column;
        }
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 1042px) {
    #visitekaarten{
        .visitekaartenContainer{
            gap: 0;
        }
    }
}

@media only screen and (max-width: 1200px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}