@media only screen and (max-width: 380px) {
    .infoNavContainer{
        .socialNav{
            i{
                font-size: 2.8rem;
                margin-left: .2rem;
            }
        }
    }
    .openingsurenNav{
        .updateOpeningsuren{
            p{
                font-size: 1.5rem;
            }
            a{
                font-size: 1rem;
            }
        }
    }
    #seo, #support, #security, #verkoopfreenas, #setupfreenas, #onderhoud, #verkoopcomputer, #onderhoudcomputer, #herstellingencomputer{
        img{
            width: 30rem;
        }
        p{
            text-align: center;;
            max-width: 32rem;
            min-width: 20rem;
        }
    }
    .toegankelijkheidContainer{
        .toegankelijkheidHeader{
            h2{
                font-size: 3.5rem;
            }
        }
    }
    #visitekaarten{
        .visitekaartenContainer{
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(30rem, 30rem));
            // justify-items: center;
            // justify-content: center;
            // gap: 1rem;
            .visitekaart{
                height: 35rem;
                width: 20rem;
                img{
                    height: 35rem;
                    width: 20rem;
                }
            }
        }
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        h1{
            font-size: 4rem;
        }
    }
    .heroHeader{
        h1, p{
            text-align: center;
        }
        p{
            margin-left: 0;
        }
    }
    .heroContent{
        aside{
            a{
                font-size: 1.6rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
    .websitesHeader{
        h2{
            text-align: center;
        }
    }
    .contactContainer{
        p{
            text-align: center;
        }
    }
    .infoContainer{
            >a{
                font-size: 2.3rem;
            }
    }
    .hostingContainer{
        .hostingContent{
            .hostingRight{
                img{
                    width: 25rem;
                }
            }
        }
    }
    .toegankelijkheidHeader{
        h2{
            font-size: 4.5rem;
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 768px) {
    .updateOpeningsuren{
        p{
            font-size: 2rem;
        }
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

@media only screen and (max-width: 992px) {
    #hero{
        .heroContent{
            display: flex;
            justify-content: end;
            align-items: start;
            flex-direction: column;
        }
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 1042px) {
    #visitekaarten{
        .visitekaartenContainer{
            gap: 0;
        }
    }
}

@media only screen and (max-width: 1200px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}