@import './partials/global';

.maxHeight{
    height: 60vh;
}
#fourOhFour{
    height: 100%;
    background-color: $colorRed;
    >.container{
        @extend %flexCenter;
    }
}
.fourOhFourContainer{
    width: 100%;

    @extend %flexJcAround;
    flex-flow: row wrap;
    img{
        height: 50rem;
        filter: grayscale(50%);
    }
    .fourOhFourContent{
        @extend %flexCenter;
        flex-direction: column;
        h1{
            font-size: 30rem;
        }
        a{
            color: $colorWhiteSmoke;
        }
    }
}