@import './partials/global';

.maxHeight{
    height: 60vh;
}
#fourOhFour{
    height: 100%;
    background-color: $colorRed;
    >.container{
        @extend %flexCenter;
    }
}
.fourOhFourContainer{
    @extend %flexCenter;
    flex-flow: row wrap;
    img{
        height: 50rem;
    }
    .fourOhFourContent{
        @extend %flexCenter;
        flex-direction: column;
        h1{
            font-size: 30rem;
        }
    }
}