@import './partials/global';
@import './partials/components/map';

/*
    contact
*//**/
.contactContainer{
    @extend %flexCenter;
    flex-direction: column;
}

// openingsuren
#openingsuren{
    padding-top: 0;
    padding-bottom: 0;
}
.openingsurenContainer{
    padding: 2rem 3rem;
    border-radius: .6rem;
    height: 36rem;

    background-color: #000000;
    background-image: url(../img/workBehindDesktop.png);
    background-position: 15% 20%;
    background-size: 70rem;
    background-repeat: no-repeat;

    @extend %flexCenter;
    flex-direction: column;

    position: relative;
    .openContainer{
        background-color: $colorBlackLightTrans;
        padding: 1rem;
        border-radius: .6rem;

        position: absolute;
        top: 3.5rem;
        // right: 15rem;
        right: 20%;
    }
    h3{
        color: $colorRed;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }
    .open{
        width: 19rem;

        @extend %flexJcBetween;
        flex-direction: row;
        p{
            color: $colorWhiteSmoke;
            font-size: 2rem;
        }
    }
}

// contact info
.contactInfoContainer{
    @extend %flexJcAround;
    flex-flow: row wrap;
    aside{
        width: 25rem;
        margin: 2rem 0;

        @extend %flexCenter;
        flex-direction: column;
        i{
            color: $colorRed;
            font-size: 3rem;
        }
        >div{
            margin-top: 1rem;

            @extend %flexCenter;
            flex-direction: column;
            a{
                font-size: 1.2rem;
                color: $colorBlack;
            }
        }
    }
    .phone{
        p:last-of-type{
            font-size: 1.4rem;
        }
    }
    .connect{
        @extend %flexJcStartAiEnd;
        flex-direction: column;
        a{
            font-size: 1.4rem;
        }
        i{
            width: 2rem;
            margin-left: 1rem;
        }
    }
}

// visitekaarten
#visitekaarten{
    background-color: $colorBrokenWhite;
}
.visitekaartenContainer{
    @extend %flexJcAround;
    flex-flow: row wrap;
    // @include grid(40rem, 40rem, 4rem);
}
.visitekaart{
    background-color: transparent;
    transform: rotate(-90deg);
    height: 40rem;
    width: 25rem;
    perspective: 100rem;
    .flipCardInner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    &:hover{
        .flipCardInner{
            transform: rotateY(-180deg);
        }
    }
    .flipCardFront, .flipCardBack{
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        position: absolute;
        width: 100%;
        height: 100%;
    }
    .flipCardBack{
        transform: rotateY(180deg);
    }
    img{
        height: 40rem;
        width: 25rem;
    }
}