@import './partials/global';
@import './partials/components/map';

/*
    contact
*//**/
.contactContainer{
    @extend %flexCenter;
    flex-direction: column;
}

.mapContainer{
    position: relative;
}
.openingsurenContainer{
    background-color: $colorDarkBlack;
    display: inline-block;
    padding: 2rem 3rem;
    border-radius: .6rem;
    height: 26rem;

    @extend %flexCenter;
    flex-direction: column;

    position: absolute;
    top: 6rem;
    right: 6rem;
    h3{
        color: $colorRed;
        text-align: center;
        margin-bottom: 1rem;
    }
    .open{
        width: 16rem;

        @extend %flexJcBetween;
        flex-direction: row;
        p{
            color: $colorWhiteSmoke;
        }
    }
}
.contactInfoContainer{
    @extend %flexJcAround;
    flex-flow: row wrap;
    aside{
        width: 25rem;
        margin: 2rem 0;

        @extend %flexCenter;
        flex-direction: column;
        i{
            color: $colorRed;
            font-size: 3rem;
        }
        >div{
            margin-top: 1rem;

            @extend %flexCenter;
            flex-direction: column;
            a{
                font-size: 1.2rem;
                color: $colorBlack;
            }
        }
    }
    .phone{
        p:last-of-type{
            font-size: 1.4rem;
        }
    }
    .connect{
        @extend %flexJcStartAiEnd;
        flex-direction: column;
        a{
            font-size: 1.4rem;
        }
        i{
            width: 2rem;
            margin-left: 1rem;
        }
    }
}