@import './partials/global';

// h1
h1{
    text-align: center;
}

.quality, .hostingContainer, .supportContainer, .securityContainer {
    padding: 4rem 1rem;
}
// quality
.quality{
    max-width: 75rem;
    margin: 0 auto;
}

// support 
#support {
    background-color: $colorBrokenWhite;
    padding: 4rem 0;
}
.textSupport {
    @extend %flexJcAround;
    flex-flow: row wrap;
    img {
        width: 50rem;
    }
    p{
        min-width: 40rem;
        flex: 2;
    }
}

// security
.textSecurity {
    @extend %flexJcAround;
    flex-flow: row wrap;
    img {
        width: 50rem;
    }
    p{
        min-width: 40rem;
        flex: 2;
    }
}

#prijzen {
    background-color: $colorBrokenWhite;
}

// cards
.prijzenCard {
    &:nth-child(1) {
        .cardFooter {
            padding-bottom: 3rem;
        }
    }
}

.cardFooter {
    width: 22rem;
}