@import './partials/global';
@import './partials/components/realisatieCards';

// websites
h1{
    text-align: center;
}
// SEO
#seo{
    background-color: $colorBrokenWhite;
}
.seoContainer{
    padding: 4rem 0;
}
.seoHeader{
    @extend %flexJcStartAiEnd;
}
.seoContent{
    padding: 6rem 1rem;

    @extend %flexJcBetween;
    flex-flow: row wrap;
    img{
        width: 50rem;
    }
    p{
        min-width: 40rem;
        flex: 2;
        text-align: justify;
    }
}

// toegankelijkheid
.toegankelijkheidContainer{
    padding: 4rem 0;
}
.toegankelijkheidContent{
    padding: 6rem 0;
    .toegankelijkheidRight{
        padding: 3rem 0;
        .cards{
            @extend %flexJcAround;
            padding: 0 4rem;
        }
        .card{
            width: 35rem;
        }
    }
}

// prijzen
#prijzen{
    background-color: $colorBrokenWhite;
}