@import './partials/global';
@import './partials/components/realisatieCards';

h1{
    text-align: center;
}
#seo{
    background-color: $colorBrokenWhite;
}
.seoContainer{
    padding: 4rem 0;
}
.seoHeader{
    @extend %flexJcStartAiEnd;
}
.seoContent{
    padding: 6rem 0;

    @extend %flexJcBetween;
    img{
        height: 40rem;
    }
}