@import './partials/global';
@import './partials/components/realisatieCards';

// websites
h1{
    text-align: center;
}
// SEO
#seo{
    background-color: $colorBrokenWhite;
}
.seoContainer{
    padding: 4rem 0;
}
.seoHeader{
    @extend %flexJcStartAiEnd;
}
.seoContent{
    padding: 6rem 0;

    @extend %flexJcBetween;
    img{
        height: 40rem;
    }
}
// toegankelijkheid
.toegankelijkheidContainer{
    padding: 4rem 0;
}
.toegankelijkheidContent{
    padding: 6rem 0;
    .toegankelijkheidRight{
        padding: 3rem 0;
        .card{
            width: 30rem;
        }
    }
}