/*
    colors
*/
/**/
/*
    fonts
*/
/**/
/*
    extends
*/
/**/
.voorwaardenFooter .voorwaardenContainer .iconsThirdParty, .contentFooter .contentContainer .dienstenFooter .footerNav, .infoFooter .infoContainer, #infoNav .infoNavContainer .openingsurenNav, .prijzenCard, .prijzenCheckbox button, .prijzenHeader, .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.voorwaardenFooter .voorwaardenContainer, .mobileContainer, #siteNav .siteNavContainer, #infoNav .infoNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prijzenCheckbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentFooter .contentContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.prijzenCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*
    Mixins
*/
/**/
/*
    cards
*/
/**/
.cards {
  flex-flow: row wrap;
}
.cards .card {
  width: 20rem;
  margin: 2rem 1rem;
  text-align: center;
  align-self: start;
}
.cards .card > p {
  line-height: 2rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.prijzenHeader {
  padding: 2rem 0;
}

.prijzenCheckbox {
  background-color: #191919;
  padding: 0.3rem;
  border-radius: 0.8rem;
  width: 40rem;
}
.prijzenCheckbox button {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 1.6rem;
  text-transform: uppercase;
  width: 100%;
  margin: 0.1rem;
  padding: 1rem;
  cursor: pointer;
}
.prijzenCheckbox button p {
  font-family: "Della Respira";
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.prijzenCheckbox button:nth-child(1) {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.prijzenCheckbox button:nth-child(2) {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.prijzenCheckbox .activeCheckbox {
  background-color: lightskyblue;
}

.prijzenCards {
  padding: 3rem 0;
  flex-flow: row wrap;
}

.prijzenCard {
  width: 26rem;
  margin: 1rem;
  border-radius: 0.6rem;
  background-color: #191919;
  color: #f5f5f5;
  box-shadow: 0.1rem 0.1rem 1rem #c0c0c0;
  transition: transform 0.5s ease;
  flex-direction: column;
}
.prijzenCard:nth-child(1) .cardContent {
  background-color: burlywood;
}
.prijzenCard:nth-child(1) .cardFooter {
  width: 100%;
  padding-left: 5.5rem;
  padding-bottom: 8rem;
}
.prijzenCard:nth-child(1) .cardFooter a {
  background-color: burlywood;
  color: #191919;
  width: 100%;
  text-align: center;
  padding: 1.5rem 1rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
}
.prijzenCard:nth-child(1) .cardFooter a:hover {
  background-color: #ffffff;
}
.prijzenCard:nth-child(2) .cardContent {
  background-color: yellowgreen;
}
.prijzenCard:nth-child(3) .cardContent {
  background-color: lightskyblue;
}
.prijzenCard:nth-child(4) .cardContent {
  background-color: #ff0000;
}
.prijzenCard:nth-child(5) .cardContent {
  background-color: #f6f5f3;
}
.prijzenCard .cardContent {
  color: #191919;
}
.prijzenCard:hover {
  transform: scale(1.1);
}

.cardHeader, .cardContent, .cardFooter {
  padding: 3rem;
  text-align: center;
}

.cardContent {
  width: 100%;
  filter: grayscale(30%);
}

.cardFooter {
  width: 21rem;
  text-align: left;
  position: relative;
}
.cardFooter p {
  text-transform: capitalize;
}
.cardFooter i {
  color: #c30005;
  margin-right: 0.5rem;
}

.upBtn {
  opacity: 0;
  position: fixed;
  bottom: 12rem;
  right: 6rem;
  z-index: 6;
}
.upBtn a {
  background-color: #c30005;
  padding: 1.6rem 2rem;
}
.upBtn a i {
  font-size: 2rem;
}

#infoNav {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  z-index: 4;
}
#infoNav .infoNavContainer {
  height: 6rem;
}
#infoNav .infoNavContainer .openingsurenNav {
  flex-direction: row;
}
#infoNav .infoNavContainer .openingsurenNav > i {
  font-size: 2.4rem;
  margin-right: 0.7rem;
}
#infoNav .infoNavContainer .openingsurenNav .updateOpeningsuren {
  height: 3rem;
}
#infoNav .infoNavContainer .openingsurenNav .updateOpeningsuren p {
  font-size: 2.6rem;
  line-height: 2rem;
  text-transform: capitalize;
}
#infoNav .infoNavContainer .openingsurenNav .updateOpeningsuren a {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  text-decoration: underline;
  color: #808080;
}
#infoNav .infoNavContainer .openingsurenNav .updateOpeningsuren a:hover {
  color: #181818;
}
#infoNav .infoNavContainer .socialNav i {
  font-size: 3.5rem;
  color: #181818;
  margin-left: 0.7rem;
}
#infoNav .infoNavContainer .socialNav i:hover {
  color: #880000;
}

#siteNav {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #191919;
  transition: all 0.5s ease;
  position: fixed;
  top: 6rem;
  z-index: 4;
}
#siteNav .backgroundRed {
  background-color: #c30005;
  position: fixed;
  top: 6;
  left: 0;
  width: 40%;
  height: 5rem;
  z-index: 1;
}
#siteNav .siteNavContainer {
  width: 100%;
  height: 5rem;
}
#siteNav .siteNavContainer .menu a {
  margin-left: -0.4rem;
  padding: 1.55rem 1.5rem;
  color: #f5f5f5;
  text-transform: capitalize;
  font-family: "Alice";
  font-size: 1.7rem;
  position: relative;
  z-index: 2;
  background-color: #181818;
}
#siteNav .siteNavContainer .menu a:hover {
  background-color: #c30005;
}
#siteNav .siteNavContainer .menu .active {
  background-color: #c30005;
}
#siteNav .siteNavContainer .menu .activeText {
  color: #181818;
}

.logoNav a {
  font-family: "Srisakdi", cursive;
  font-size: 5rem;
  color: #c30005;
  text-transform: capitalize;
  font-weight: bolder;
  line-height: 1rem;
  vertical-align: middle;
}
.logoNav a:hover {
  color: #f5f5f5;
}

#mobileSiteNav {
  background-color: #191919;
}

.burgerNav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.burgerNav i {
  font-size: 4rem;
}

footer {
  position: relative;
  z-index: 3;
}

.infoFooter {
  background-color: #79c6f7;
}
.infoFooter .infoContainer {
  padding: 3rem 0;
  flex-direction: column;
}
.infoFooter .infoContainer > a {
  color: #191919;
  font-size: 3.6rem;
  font-weight: bolder;
  line-height: 5.4rem;
  letter-spacing: 0.2rem;
}
.infoFooter .infoContainer p {
  color: #f5f5f5;
  font-size: 2rem;
  line-height: 2.4rem;
}

.contentFooter {
  background-color: #181818;
}
.contentFooter .contentContainer {
  padding: 3rem 0;
  width: 100rem;
  flex-flow: row wrap;
}
.contentFooter .contentContainer > div > p {
  color: #c30005;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.contentFooter .contentContainer .adresFooter > p {
  text-align: center;
}
.contentFooter .contentContainer .adresFooter .adres > p {
  color: #f5f5f5;
  font-size: 2.2rem;
  line-height: 2.5rem;
}
.contentFooter .contentContainer .adresFooter .social {
  margin-top: 1rem;
}
.contentFooter .contentContainer .adresFooter .social i {
  color: #f5f5f5;
  font-size: 3rem;
  margin-right: 1rem;
}
.contentFooter .contentContainer .adresFooter .social i:hover {
  color: #c30005;
}
.contentFooter .contentContainer .dienstenFooter > p {
  text-align: center;
}
.contentFooter .contentContainer .dienstenFooter .footerNav {
  flex-direction: column;
}
.contentFooter .contentContainer .dienstenFooter .footerNav > a {
  color: #f5f5f5;
  text-transform: capitalize;
  font-family: "Kalam";
  transition: 0.3s;
}
.contentFooter .contentContainer .dienstenFooter .footerNav > a:hover {
  color: #c30005;
}

.voorwaardenFooter .voorwaardenContainer {
  padding: 1rem 0;
}
.voorwaardenFooter .voorwaardenContainer .voorwaarden a {
  color: #181818;
  border-bottom: 1px solid #181818;
  text-transform: capitalize;
  margin-right: 1rem;
}
.voorwaardenFooter .voorwaardenContainer .voorwaarden a:hover {
  color: #c30005;
  border-bottom: 1px solid #c30005;
}
.voorwaardenFooter .voorwaardenContainer .iconsThirdParty > div {
  margin: 0 0.8rem;
}
.voorwaardenFooter .voorwaardenContainer .iconsThirdParty > div svg {
  transition: 0.5s;
  border-radius: 0.7rem;
  padding: 0.4rem;
}
.voorwaardenFooter .voorwaardenContainer .iconsThirdParty > div svg:hover {
  background-color: #18181820;
}
.voorwaardenFooter .voorwaardenContainer .iconsThirdParty .feweb a, .voorwaardenFooter .voorwaardenContainer .iconsThirdParty .googlePartner a {
  transition: 0.5s;
  border-radius: 0.7rem;
  padding: 0.4rem;
  color: #c30005;
  text-transform: capitalize;
}
.voorwaardenFooter .voorwaardenContainer .iconsThirdParty .feweb a:hover, .voorwaardenFooter .voorwaardenContainer .iconsThirdParty .googlePartner a:hover {
  background-color: #18181820;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container h1 {
    font-size: 4rem;
  }

  .heroHeader h1, .heroHeader p {
    text-align: center;
  }
  .heroHeader p {
    margin-left: 0;
  }

  .heroContent aside a {
    font-size: 1.6rem;
  }
  .heroContent aside p {
    font-size: 1.2rem;
  }

  .websitesHeader h2 {
    text-align: center;
  }

  .contactContainer p {
    text-align: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  #hero .heroContent {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1042px) {
  #visitekaarten .visitekaartenContainer {
    gap: 0;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*
    global css
*/
/**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.structural {
  position: absolute;
  left: -9999px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ir {
  display: block;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  padding-top: 10.5rem;
  font-size: 1.6rem;
  position: relative;
}

section {
  padding: 4rem 1rem;
}

.container {
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: "Alice";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alice";
  text-transform: capitalize;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2.2rem;
  color: #404040;
}

h4 {
  font-size: 1.8rem;
  font-family: "Kalam";
  margin: 0.3rem 1rem;
}

p {
  font-family: "Kalam";
}

/*# sourceMappingURL=backups.css.map */
