/*
    extends
*//**/
// align-items center
%flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexJcBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flexJcAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
%flexJcAroundAiStart{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
%flexJcStartAiStart{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
%flexJcStartAiEnd{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
%flexJcCenterAiStart{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
%flexJcBetweenAiStart{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
%flexJcCenterAiBetween{
    display: flex;
    justify-content: center;
    align-items: space-between;
}
%flexJcStartAiBetween{
    display: flex;
    justify-content: start;
    align-items: space-between;
}
%flexJcStartAiEnd{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
%flexJcStartAiCenter{
    display: flex;
    justify-content: start;
    align-items: center;
}