/*
    cards
*//**/
.cards{
    @extend %flexCenter;
    flex-flow: row wrap;
    .card{
        width: 20rem;
        margin: 2rem 1rem;
        text-align: center;
        align-self: start;
        >p{
            line-height: 2rem;
            font-size: 1.6rem;
            margin-top: 1rem;
        }
    }
}