footer{
    position: relative;
    z-index: 3;
}
.infoFooter{
    // background-image: linear-gradient(to bottom, $colorLightRed, $colorDarkRed);
    background-color: $colorBlack;
    .infoContainer{
        padding: 3rem 0;
        @extend %flexCenter;
        flex-direction: column;
            >a{
                color: $colorRed;
                font-size: 3.6rem;
                font-weight: bolder;
                line-height: 5.4rem;
                letter-spacing: .2rem;
            }
            p{
                color: $colorWhiteSmoke;
                font-size: 2rem;
                line-height: 2.4rem;
            }
    }
}
.contentFooter{
    background-color: $colorDarkBlack;
    .contentContainer{
        padding: 3rem 0;
        width: 100rem;
        @extend %flexJcAroundAiStart;
        flex-flow: row wrap;
        >div{
            >p{
                color: $colorRed;
                text-transform: uppercase;
                font-size: 1.6rem;
            }
        }
        .adresFooter{
            >p{
                text-align: center;
            }
            .adres{
                >p{
                    color: $colorWhiteSmoke;
                    font-size: 2.2rem;
                    line-height: 2.5rem;
                }
            }
            .social{
                margin-top: 1rem;
                i{
                    color: $colorWhiteSmoke;
                    font-size: 3rem;
                    margin-right: 1rem;
                    &:hover{
                        color: $colorRed;
                    }
                }
            }
        }
        .dienstenFooter{
            >p{
                text-align: center;
            }
            .footerNav{
                @extend %flexCenter;
                flex-direction: column;
                >a{
                    color: $colorWhiteSmoke;
                    text-transform: capitalize;
                    font-family: $fontKalam;
                    transition: .3s;
                    &:hover{
                        color: $colorRed;
                    }
                }
            }
        }
    }
}
.voorwaardenFooter{
    .voorwaardenContainer{
        padding: 1rem 0;

        @extend %flexJcBetween;
        .voorwaarden{
            a{
                color: $colorDarkBlack;
                border-bottom: 1px solid $colorDarkBlack;
                text-transform: capitalize;
                margin-right: 1rem;
                &:hover{
                    color: $colorRed;
                    border-bottom: 1px solid $colorRed;
                }
            }
        }
        .iconsThirdParty{
            @extend %flexCenter;
            >div{
                margin: 0 .8rem;
                svg{
                    transition: .5s;
                    border-radius: .7rem;
                    padding: .4rem;
                    &:hover{
                        background-color: $colorBlackTrans;
                    }
                }
            }
            .feweb, .googlePartner{
                a{
                    transition: .5s;
                    border-radius: .7rem;
                    padding: .4rem;
                    color: $colorRed;
                    text-transform: capitalize;
                    &:hover{
                        background-color: $colorBlackTrans;
                    }
                }
            }
        }
    }
}