// prijzen cards
.prijzenHeader{
    padding: 2rem 0;

    @extend %flexCenter;
}
// prijzen checkbox
.prijzenCheckbox{
    background-color: $colorBlack;
    padding: .3rem;
    border-radius: .8rem;
    width: 40rem;

    @extend %flexJcAround;
    button{
        background-color: transparent;
        border: none;
        color: $colorWhiteSmoke;
        font-size: 1.6rem;
        text-transform: uppercase;
        width: 100%;
        margin: .1rem;
        padding: 1rem;
        cursor: pointer;

        @extend %flexCenter;
        p{
            font-family: $fontDella;
            font-size: 1.2rem;
            margin-left: .5rem;
        }
        &:nth-child(1){
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
        &:nth-child(2){
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
    .activeCheckbox{
        background-color: $colorBlue;
    }
}

// prijzen cards
.prijzenCards{
    padding: 3rem 0;

    @extend %flexJcStartAiStart;
}
.prijzenCard{
    width: 28rem;
    margin: 1rem;
    border-radius: .6rem;

    @extend %flexCenter;
    flex-direction: column;
    &:nth-child(1){
        background-color: $colorWhite;
        box-shadow: .1rem .1rem 1rem $colorSilver;
    }
    &:nth-child(2){
        background-color: $colorGreen;
        box-shadow: .1rem .1rem 1rem $colorSilver;
    }
    &:nth-child(3){
        background-color: $colorBlue;
        box-shadow: .1rem .1rem 1rem $colorSilver;
    }
    &:nth-child(4){
        background-color: $colorRed;
        box-shadow: .1rem .1rem 1rem $colorSilver;
        .cardFooter{
            i{
                color: $colorWhiteSmoke;
            }
        }
    }
    &:nth-child(5){
        background-color: $colorBlack;
        box-shadow: .1rem .1rem 1rem $colorSilver;
        color: $colorWhiteSmoke;
        .cardContent{
            color: $colorBlack;
        }
    }
}
.cardHeader, .cardContent, .cardFooter{
    padding: 3rem;
    text-align: center;
}
.cardContent{
    width: 100%;
    background-color: $colorBrokenWhite;
}
.cardFooter{
    width: 24rem;
    text-align: left;
    p{
        text-transform: capitalize;
    }
    i{
        color: $colorRed;
        margin-right: .5rem;
    }
}