// prijzen cards
.prijzenHeader{
    padding: 2rem 0;

    @extend %flexCenter;
}
// prijzen checkbox
.prijzenCheckbox{
    background-color: $colorBlack;
    padding: .3rem;
    border-radius: .8rem;
    width: 40rem;

    @extend %flexJcAround;
    button{
        background-color: transparent;
        border: none;
        color: $colorWhiteSmoke;
        font-size: 1.6rem;
        text-transform: uppercase;
        width: 100%;
        margin: .1rem;
        padding: 1rem;
        cursor: pointer;

        @extend %flexCenter;
        p{
            font-family: $fontDella;
            font-size: 1.2rem;
            margin-left: .5rem;
        }
        &:nth-child(1){
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
        &:nth-child(2){
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
    .activeCheckbox{
        background-color: $colorBlue;
    }
}

// prijzen cards
.prijzenCards{
    padding: 3rem 0;

    @extend %flexJcCenterAiStart;
    flex-flow: row wrap;
}
.prijzenCard{
    width: 26rem;
    margin: 1rem;
    border-radius: .6rem;
    background-color: $colorBlack;
    color: $colorWhiteSmoke;
    box-shadow: .1rem .1rem 1rem $colorSilver;

    transition: transform .5s ease;

    @extend %flexCenter;
    flex-direction: column;
    &:nth-child(1){
        .cardContent{
            background-color: $colorYellow;
        }
        .cardFooter{
            width: 100%;
            padding-left: 5.5rem;
            padding-bottom: 8rem;
            a{
                background-color: $colorYellow;
                color: $colorBlack;
                width: 100%;
                text-align: center;
                padding: 1.5rem 1rem;
                border-bottom-left-radius: .6rem;
                border-bottom-right-radius: .6rem;
                text-transform: capitalize;

                position: absolute;
                bottom: 0;
                left: 0;
                &:hover{
                    background-color: $colorWhite;
                }
            }
        }
    }
    &:nth-child(2){
        .cardContent{
            background-color: $colorGreen;
        }
    }
    &:nth-child(3){
        .cardContent{
            background-color: $colorBlue;
        }
    }
    &:nth-child(4){
        .cardContent{
            background-color: $colorLightRed;
        }
    }
    &:nth-child(5){
        .cardContent{
            background-color: $colorBrokenWhite;
        }
    }
    .cardContent{
        color: $colorBlack;
    }
    &:hover{
        transform: scale(1.1);
    }
}
.cardHeader, .cardContent, .cardFooter{
    padding: 3rem;
    text-align: center;
}
.cardContent{
    width: 100%;
    filter: grayscale(30%);
}
.cardFooter{
    width: 21rem;
    text-align: left;

    position: relative;
    p{
        text-transform: capitalize;
    }
    i{
        color: $colorRed;
        margin-right: .5rem;
    }
}